<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>DevFest' 19 Kolkata Feedback Form</title>
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet" />
    <!-- Your custom styles (optional) -->
    <link href="css/style.min.css" rel="stylesheet" />
    <style>
      .search-form {
        border-radius: 30px 0px 0px 30px;
        /*border-radius:Top-left, Top-right, Bottom-right, Bottom-left;*/
      }
      /*to cange only one form and not all give unique class name like  class="search-form" */
      .search-btn {
        border-radius: 0px 30px 30px 0px;
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <!--Main Navigation-->
    <header>
      <!-- Navbar -->
      <nav
        class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar"
      >
        <div class="container">
          <!-- Brand -->
          <a
            class="navbar-brand waves-effect"
            href=""
            target="_blank"
            style="display:flex; justify-content:center; align-items:center "
          >
            <img
              src="https://pbs.twimg.com/media/D22N_huX4AEbb1y.jpg"
              style="height: 50px"
              alt=""
              srcset=""
            />
            <strong class="grey-text">GDG Kolkata</strong>
          </a>

          <!-- Collapse -->
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Links -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left -->
            <ul class="navbar-nav mr-auto"></ul>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
              <li class="nav-item">
                <a href="" class="nav-link waves-effect" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="nav-item">
                <a href="" class="nav-link waves-effect" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="nav-item">
                <a
                  href=""
                  class="nav-link rounded waves-effect"
                  target="_blank"
                >
                  <i class="fa fa-globe"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Navbar -->
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main class="mt-5 pt-5">
      <div class="container">
        <!--Section: Jumbotron-->
        <section class="card wow fadeIn">
          <!-- Content -->
          <div class="">
            <!-- Material form subscription -->
            <div class="">
              <!--Card content-->
              <div class="card-body px-lg-5">
                <!-- Form -->

                <div
                  class="modal-dialog modal-side modal-bottom-right modal-notify modal-danger"
                  role="document"
                >
                  <!--Content-->
                  <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                      <p class="heading">
                        Discount offer:
                        <strong>40% off</strong>
                      </p>

                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true" class="white-text"
                          >&times;</span
                        >
                      </button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-3">
                          <p></p>
                          <p class="text-center">
                            <i class="fas fa-gift fa-4x"></i>
                          </p>
                        </div>

                        <div class="col-9">
                          <p>
                            Our 40% discount code (good for all our products in
                            all formats) aimed at all your attendees
                          </p>
                          <p>
                            <strong
                              >Copy the following code and use it at the
                              checkout.</strong
                            >
                          </p>
                          <h2>
                            <span class="badge">ctwgdgk19</span>
                          </h2>
                        </div>
                      </div>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer flex-center">
                      <a href="https://www.manning.com/" class="btn btn-danger"
                        >Get it now
                        <i class="far fa-gem ml-1 white-text"></i>
                      </a>
                    </div>
                  </div>
                  <!--/.Content-->
                </div>
                <div
                  class="modal-dialog modal-side modal-bottom-right modal-notify modal-primary"
                  role="document"
                >
                  <!--Content-->
                  <div class="modal-content">
                    <!--Header-->
                    <div class="modal-header">
                      <p class="heading">
                        Discount offer:
                        <strong>25% off</strong>
                      </p>

                      <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                      >
                        <span aria-hidden="true" class="white-text"
                          >&times;</span
                        >
                      </button>
                    </div>

                    <!--Body-->
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-3">
                          <p></p>
                          <p class="text-center">
                            <i class="fas fa-gift fa-4x"></i>
                          </p>
                        </div>

                        <div class="col-9">
                          <p>
                            25% off our books and courses
                          </p>
                          <p>
                            <strong
                              >Copy the following code and use it at the
                              checkout.
                            </strong>
                          </p>
                          <h2>
                            <span class="badge">kolkata2019</span>
                          </h2>
                        </div>
                      </div>
                    </div>

                    <!--Footer-->
                    <div class="modal-footer flex-center">
                      <a
                        href="https://www.pyimagesearch.com/"
                        class="btn btn-primary"
                        >Get it now
                        <i class="far fa-gem ml-1 white-text"></i>
                      </a>
                    </div>
                  </div>
                  <!--/.Content-->
                </div>
                <!-- Form -->
              </div>
            </div>
            <!-- Material form subscription -->
          </div>
          <!-- Content -->
        </section>
        <!--Section: Jumbotron-->

        <!--Section: Cards-->
      </div>
    </main>
    <!--Main layout-->

    <!--/.Footer-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>
    <!-- Initializations -->
    <script type="text/javascript">
      // Animations initialization
      new WOW().init();
    </script>
  </body>
</html>
